<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidWorkManager"
        tools:targetApi="31">
        <activity
            android:name=".JobActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <!--             <intent-filter>-->
            <!--             <action android:name="android.intent.action.MAIN" />-->


            <!--             <category android:name="android.intent.category.LAUNCHER" />-->
            <!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".WorkManagerActivity4"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove"></provider>

        <activity
            android:name=".WorkManagerActivity3"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".WorkManagerActivity2"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->


<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver android:name=".Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="some.actions"/>
            </intent-filter>
        </receiver>
<!--        <receiver android:name=".Receiver"-->
<!--            />-->
        <service
            android:name=".jobscheduler.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>